extends ../layout

block content
    h1.
        #{title}
    form#formAddActivity(name="addactivity",method="post",action="/activities")
        p ExpenseID: 
            input#inputExpenseId(type="text", placeholder="ex. 5787da0f277680df5eb77123", name="expenseId")
        p Number: 
            input#inputNumber(type="number", placeholder="ex. 1", name="number")
        p Type: 
            input#inputType(type="text", placeholder="ex. Gifts", name="type")
        p Project: 
            input#inputProject(type="text", name="project")
        p Description: 
            input#inputDescription(type="text", name="description")
        p
            button#btnSubmit(type="submit") submit
